.u-section-1 .u-sheet-1 {
  min-height: 1397px;
}

.u-section-1 .u-group-1 {
  width: 1101px;
  min-height: 778px;
  margin: 0 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 56px 769px 0 54px;
}

.u-section-1 .u-form-1 {
  height: 673px;
  margin: 6px 636px 0 95px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-2 {
  height: 409px;
  margin: -671px 128px 0 566px;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 663px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 556px;
    margin-left: 15px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 48px;
    margin-left: 485px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 443px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 351px;
    margin-left: 0;
  }

  .u-section-1 .u-form-2 {
    margin-right: 0;
    margin-left: 313px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 263px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 171px;
  }

  .u-section-1 .u-form-2 {
    margin-left: 133px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 63px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }

  .u-section-1 .u-form-2 {
    margin-left: 0;
  }
}