<!DOCTYPE html>
<html>
<body>
<header><h1>FREEDOM COOPERATIVE SOCIETY </header>
<h1 style="background-color: blue;">Loan application form</h1>
<
        <div id="project">
      <div><span>NAME:</span> {{name}}</div>
      <div><span>EMAIL:</span> <a href="mailto:{{user_email}}">{{email}}</a></div>
      <div><span>ANNUAL INCOME:</span> {{annualincome}}</div>
      <div><span>PHONENUMBER:</span> {{phonenumber}}</div>
      <div><span>LOANPURPOSE:</span> {{loanpurpose}}</div>
    </div>
</body>
</html>
